/* SETUP */

:root {
  --cp-softOrange: hsl(35, 77%, 62%);
  --cp-softRed: hsl(5, 85%, 63%);
  --cn-offWhite: hsl(36, 100%, 99%);
  --cn-grayishBlue: hsl(233, 8%, 79%);
  --cn-darkGrayishBlue: hsl(236, 13%, 42%);
  --cn-veryDarkBlue: hsl(240, 100%, 5%);

  /* FONT FAMILY */
  --ff-primary: "Inter", sans-serif;

  /* FONT WEIGHT */
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-extraBold: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

/* UTILITY CLASSES */

.hide {
  display: none;
}
