:root {
  /* COLORS */
  --cp-orange: hsl(25, 97%, 53%);
  --cn-white: hsl(0, 0%, 100%);
  --cn-lightGrey: hsl(217, 12%, 63%);
  --cn-mediumGrey: hsl(216, 12%, 54%);
  --cn-darkBlue: hsl(213, 19%, 18%);
  --cn-veryDarkBlue: hsl(216, 12%, 8%);

  /* FONTS */
  --ff-primary: "Overpass", sans-serif;

  /* FONT SIZES */
  --fs-paragraph: 15px;

  /* FONT WEIGHTS */
  --fw-normal: 400;
  --fw-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  color: var(--cn-white);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cn-veryDarkBlue);
  height: 100vh;
  width: 100vw;
}

main {
  width: min(30em, 80vw);
  height: min(30em, 80vh);
  background-image: linear-gradient(
    140deg,
    var(--cn-darkBlue),
    var(--cn-veryDarkBlue)
  );
  border-radius: 2em;
}

div.ratingState,
div.thankyouState {
  padding: 2em;
  width: 100%;
}

div.ratingState,
div.thankyouState > * {
  padding: 0.5em;
}

div.ratingState > img {
  background-color: var(--cn-darkBlue);
  padding: 1em;
  border-radius: 50%;
}

div.ratingState > p,
div.thankyouState > p {
  color: var(--cn-lightGrey);
  line-height: 1.5;
}
ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

ul > li > button {
  background-color: var(--cn-darkBlue);
  border: none;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  color: var(--cn-lightGrey);
  font-weight: var(--fw-bold);
}

ul > li > button:hover {
  background-color: var(--cn-lightGrey);
  color: var(--cn-white);
  cursor: pointer;
}

div.ratingSubmit > * {
  padding: 1em;
}
div.ratingSubmit > button {
  background-color: var(--cp-orange);
  border: none;
  width: 100%;
  font-size: var(--ff-primary);
  text-transform: uppercase;
  border-radius: 5em;
  margin-top: 1em;
}
div.ratingSubmit > button:hover {
  background-color: var(--cn-white);
  color: var(--cp-orange);
  cursor: pointer;
}

div.thankyouState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.ratingShow {
  background-color: var(--cn-veryDarkBlue);
  border-radius: 2em;
  padding: 0.5em 1em;
  color: var(--cp-orange);
}

span#userRating {
  color: var(--cp-orange);
}
div.thankyouState > img {
  padding: 2em;
}
.hide {
  display: none !important;
}
