$primary: hsl(225, 100%, 94%);
$highlight: hsl(245, 75%, 52%);
$highlight-hover: rgb(56, 41, 224, 0.7);
$neutral-500: hsl(223, 47%, 23%);
$neutral-300: hsl(224, 23%, 55%);
$neutral-300-transparent: rgb(114, 128, 167, 0.02);
$neutral-100: hsl(225, 100%, 98%);
$shadow: rgb(128, 128, 128, 0.4);
