body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 2rem;
  padding: 2rem;
}

div {
  flex: 0 0 30%;
  padding: 1rem;
  position: relative;
}

img {
  width: 100%;
  min-width: 300px;
  border-radius: 25px 25px 0 0;
}

a {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: white;
  width: calc(100% - 2rem);
  text-align: center;
  background-color: rgb(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
