$color-neutral-800: hsl(240, 100%, 5%);
$color-neutral-600: hsl(236, 13%, 42%);
$color-neutral-400: hsl(233, 8%, 79%);
$color-neutral-200: hsl(36, 100%, 99%);
$color-primary-600: hsl(5, 85%, 63%);
$color-primary-400: hsl(35, 77%, 62%);
