// FONTS
$fontfamily-primary: "Inter", sans-serif;

// SIZES
$fontsize-400: 0.938rem;
$fontsize-500: 1.25rem;
$fontsize-600: 2rem;
$fontsize-800: 2.35rem;

// WEIGHTS
$fontweight-normal: 400;
$fontweight-bold: 700;
$fontweight-extrabold: 800;

// LINE HEIGHTS
$lineheight-thin: 2.25rem;

// LETTER SPACING
$letterspacing-wide: 0.175rem;
