/* UTILITY */
.hide {
  display: none !important;
}

/* CUSTOM  */

:root {
  /* COLORS */
  --clr-neutral-100: hsl(36, 100%, 99%);
  --clr-neutral-300: hsl(233, 8%, 79%);
  --clr-neutral-500: hsl(236, 13%, 42%);
  --clr-neutral-700: hsl(240, 100%, 5%);
  --clr-primary-300: hsl(35, 77%, 62%);
  --clr-primary-500: hsl(5, 85%, 63%);
  /* FONTS */
  --ff-primary: "Inter", sans-serif;
  /* FONT WEIGHTS  */
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-extraBold: 800;
}
/* CSS RESET  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100vw;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* NAVBAR  */

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70vw;
  background-color: var(--clr-neutral-100);
}
img#open {
  max-width: 3rem;
}
img#close {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}
ul {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  height: 50%;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: var(--clr-neutral-700);
}

li > a:hover {
  cursor: pointer;
  color: var(--clr-primary-300);
}

/* STYLE  */

div.container {
  padding-inline: 0.75rem;
  width: 100%;
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: main;
}
h1 {
  font-weight: var(--fw-extraBold);
  line-height: 1.1;
  font-size: 2rem;
}

h1 + p {
  color: var(--clr-neutral-500);
}

main > button {
  width: 50%;
  border: none;
  border-radius: 3px;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 3px;
  font-size: 1rem;
  padding: 0.5rem;
}

main > button:hover {
  cursor: pointer;
  background-color: var(--clr-neutral-700);
}

/* ASIDE  */

aside {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-300);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-area: aside;
}

aside > section > * {
  padding-block: 0.5rem;
}

aside > h2 {
  color: var(--clr-primary-300);
}

aside > section > h3 {
  color: var(--clr-neutral-100);
}
aside > section > h3:hover {
  cursor: pointer;
  color: var(--clr-primary-300);
}

/* SECTION  */

.container {
  margin-bottom: 2rem;
}

.container > section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-area: section;
}

.container > section > section {
  display: flex;
  gap: 1rem;
}

.container > section > section > img {
  max-width: 30%;
}

.container section div > span:first-child {
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
  font-size: 1.4rem;
}

h4 {
  color: var(--clr-neutral-700);
}

h4:hover {
  cursor: pointer;
  color: var(--clr-primary-500);
}

h4 + span {
  color: var(--clr-neutral-500);
}
/* MEDIA QUERY   */

@media only screen and (min-width: 800px) {
  /* NAV */
  nav {
    display: flex;
    position: relative;
    height: auto;
    width: 80%;
  }
  img#open {
    display: none;
  }
  ul {
    flex-direction: row;
  }
  /* STYLE */
  div.container {
    height: 100vh;
    max-width: 80vw;
    display: grid;
    grid-template-columns: 1fr 7fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 2fr 1fr;
    gap: 1rem;
    grid-template-areas:
      ". . . ."
      ". header header ."
      ". main aside ."
      ". section section ."
      ". . . .";
  }

  .container > section {
    display: flex;
    flex-direction: row;
  }
}
