@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /* COLORS */
  --primary-blue: hsl(212, 86%, 64%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-red: hsl(0, 78%, 62%);
  --neutral-100: hsl(0, 0%, 98%);
  --neutral-300: hsl(229, 6%, 66%);
  --neutral-500: hsl(234, 12%, 34%);

  /* FONTS */
  --ff-primary: "Poppins", sans-serif;

  /* FONT SIZES */
  --fs-normal: 0.925rem;
  --fs-big: 1.5rem;

  /* FONT WEIGHTS */
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: var(--neutral-100);
  font-family: var(--ff-primary);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADING */

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-block: 3rem;
  max-width: max-content;
}

.heading h1 {
  color: var(--neutral-300);
  font-weight: var(--fw-light);
}

.heading span {
  color: var(--neutral-500);
  font-weight: var(--fw-bold);
  font-size: var(--fs-big);
}
.heading p {
  color: var(--neutral-300);
  font-weight: var(--fw-normal);
  text-align: justify;
  max-width: 60%;
}

@media screen and (min-width: 700px) {
  .heading p {
    text-align: center;
  }
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media screen and (min-width: 700px) {
  main {
    display: grid;
    grid-template-areas:
      ". team-builder ."
      "supervisor team-builder calculator"
      "supervisor karma calculator"
      ". karma .";

    gap: 0.75rem;
    max-width: max-content;
  }
  .supervisor {
    grid-area: supervisor;
  }
  .team-builder {
    grid-area: team-builder;
  }
  .karma {
    grid-area: karma;
  }
  .calculator {
    grid-area: calculator;
  }
}

main section {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(205, 194, 247, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.5rem;
  max-width: 333px;
  border-radius: 5px;
}

main section h3 {
  color: var(--neutral-500);
}

main section span {
  color: var(--neutral-300);
  font-size: var(--fs-normal);
}

main section > img {
  align-self: flex-end;
}

.supervisor {
  border-top: 3px solid var(--primary-cyan);
}

.team-builder {
  border-top: 3px solid var(--primary-red);
}

.karma {
  border-top: 3px solid var(--primary-orange);
}

.calculator {
  border-top: 3px solid var(--primary-blue);
}
