// FONTS
$fontfamily-primary: "Josefin Sans", sans-serif;

// SIZES
$fontsize-primary: 1rem;
$fontsize-heading: 2.5rem;

// WEIGHTS
$fontweight-light: 300;
$fontweight-normal: 400;
$fontweight-bold: 600;

// LINE HEIGHTS
$lineheight-normal: 3rem;

// LETTER SPACING
$letterspacing-normal: 0.725rem;
