@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* COLORS */
  --primary-warm-500: hsl(31, 77%, 52%);
  --primary-cold-700: hsl(179, 100%, 13%);
  --primary-cold-500: hsl(184, 100%, 22%);
  --neutral-300: hsla(0, 0%, 100%, 0.75);
  --neutral-100: hsl(0, 0%, 95%);

  /* FONTS */
  --ff-headings: "Big Shoulders Display", cursive;
  --ff-primary: "Lexend Deca", sans-serif;

  /* FONT SIZES */
  --fs-primary: 15px;

  /* FONT WEIGHTS */
  --fw-normal: 400;
  --fw-bold: 700;
}
