// PRIMARY

$primaryWarm: hsl(10, 79%, 65%);
$primaryCold: hsl(186, 34%, 60%);

// NEUTRAL

$neutral-700: hsl(25, 47%, 15%);
$neutral-400: hsl(28, 10%, 53%);
$neutral-200: hsl(27, 66%, 92%);
$neutral-100: hsl(33, 100%, 98%);
